@import '/varebles/var.css';
@import '/components/reset.css';
body {
  min-height: 100vh;
}

.header {
  width: 100%;
  min-height: 40px;
  background-color: var(--background);
}
.header__text {
  color: var(--color);
}

.title {
  color: var(--color);
}